@charset "UTF-8";

/*
    In CSS grid-layout, it is possible add configuration for items
    and define areas those the respective item will occupy in content.
    It defines the area using 4 points based on the vertical and horizontal
    lines of the grid. These are:

      - 'grid-row-start' - Define the start line for rows (which one will
         define the top limit of the area).

      - 'grid-row-end' - Define the end line for rows (which one will define
         the bottom limit of the area).

      - 'grid-column-start' - Define the start line for columns (which one
         will define the left side limit of the area).

      - 'grid-column-end' - Define the end line for columns (which one will
         define the right side limit of the area).


      The possible valure are numeric (1, 2, 3, ... n) in normal order or
      (-1, -2, -3, ... -n) in inverted order.

      Examples:

        - grid-row-start: 1;
          grid-row-end: 2;
          grid-column-start: 1;
          grid-column-end: 2;

          * It will define a area occupying 1 grid-row (vertical) and
            1 grid-column (horizontal).

        - grid-row-start: 2;
          grid-row-end: -2;
          grid-column-start: 1;
          grod-column-end: 3;

          * Considering one container 'row x 5, col x 6', it will define
            a area occupying 2 grid-rows (vertical) and 2 grid-columns
            (horizontal). Note: The -2 in 'grid-row-end' refers to line 4
            in the container because it's in inverted order (-1 = 5, so -2 = 4).

*/

.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 4fr);
}

#box1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;

    background-color: lightcoral;
}

#box2 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;

    background-color: lightgreen;
}

#box3 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;

    background-color: lightseagreen;
}